<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title><%= og.title %> - Raul Rodrigues</title>
    <meta content="Está precisando de algum serviço online? Esta é a melhor opção para você!" name="description" />
    <meta content="Raul Rodrigues, devluar, luar, rekcah, Dev, Designer, Acrelândia" name="keywords" />

    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link href="/assets/css/style.css" rel="stylesheet" />
      

    <link rel="stylesheet" type="text/css" href="/assets/css/glider.css" />
    <script src="/assets/js/glider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--CADS-->
    <meta
      name="description"
      content="Está precisando de algum serviço online? Esta é a melhor opção para você!>"
    />
    <meta property="og:title" content="<%= og.title %> - Raul Rodrigues" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Está precisando de algum serviço online? Esta é a melhor opção para você!"
    />
    <meta property="og:image" content="<%= og.banner %> " />
    <meta property="og:url" content="<%=defaultConfig.url%>" />
    <meta property="og:site_name" content="RR - Raul Rodrigues" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="<%=defaultConfig.url%>" />
    <meta name="twitter:title" content="<%= og.title %> - Raul Rodrigues" />
    <meta
      name="twitter:description"
      content="Está precisando de algum serviço online? Esta é a melhor opção para você!"
    />
    <meta name="twitter:image" content="<%= og.banner %> " />
    <!--CADS-->

    <!-- =======================================================
  * Template Name: DevFolio - v4.7.1
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  ======================================================== -->
      
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
    moment().format();
</script>
      
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo"
          ><img src="/assets/img/logo.png" alt="" class="img-fluid"
        /></a>
        <h1 class="logo"><a href="/">Raul Rodrigues</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a
                class="nav-link scrollto active"
                href="<%=defaultConfig.url%>#hero"
                >Princípio</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="<%=defaultConfig.url%>#about"
                >Sobre</a
              >
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="<%=defaultConfig.url%>#services"
                >Serviços</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="<%=defaultConfig.url%>#work"
                >Trabalhos</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="<%=defaultConfig.url%>#blog"
                >Blog</a
              >
            </li>
            <li class="dropdown">
              <a href="#"
                ><span>Outros</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                
                <li class="dropdown">
                  <a href="#"
                    ><span>Ferramentas</span> <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#">Recuperar número de Whatsapp</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#"
                    ><span>Projetos</span> <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="https://www.dlwalt.com/">D Walt Engenharia</a></li>
                    <li><a href="https://me-card.glitch.me/">MeCard</a></li>
                    <li><a href="https://luarzito.glitch.me/">Luarzito</a></li>
                    <li><a href="https://www.graficainovart.com/">Inovart</a></li>
                  </ul>
                </li>
                
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          </ul>

          <i class="bi bi-list mobile-nav-toggle"></i>

          <% if(user) { %>

          <img
            width="50"
            height="50"
            style="border-radius: 50px; margin-left: 20px"
             data-bs-toggle="modal" data-bs-target="#profileModal"
            src="<%=user.photo%>"
          />

          <%} else { %>
          <a data-bs-toggle="modal" data-bs-target="#loginModal" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></a>
          <%}%>
        </nav>
      </div>
  </header>
          
  <!-- Modal -->
  <% if(user) { %>
  <div  class="modal fade" id="profileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" style="background-color:black;">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">Usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
        </div>
        <div class="modal-body">
          <div class="second d-flex flex-row mt-2">
            <div class="image mr-3">
             <img src="<%=user.photo%>" class="rounded-circle" width="60"/>
            </div>   
            <div style="margin-left:20px">
              <div class="d-flex flex-row mb-1">
                <span style="color:white;"><%=user.fullName%></span>            
              </div>
                <div class="d-flex flex-row mb-1">
                <span style="color:gray;"><b>Saldo R$0,00</b></span>            
              </div>
              <div>
                <a class="btn btn-danger btn-sm px-2" href="/dashboard">Dashboard</a>
                <a class="btn btn-outline-danger btn-sm" href="/auth/logout">Sair</a>
              </div>
           </div> 
         </div>
        </div>
      </div>
    </div>
  </div>
<%}%>
  
  <style>
    .loginsocialb {
    padding: 3% 8%;
    background-color: white;
    border-radius: 30px;
    margin: 0px 1% 0px 1%;
    }
  </style>
  
  <div  class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content" style="background-color:black;">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #fff;"></button>
        </div>
        <div class="modal-body">
          <div style="margin-bottom: 10px" class="d-flex justify-content-center">
          <i>Entre com:</i>
          </div>
          <div class="d-flex justify-content-center">
            <a class="loginsocialb" href="/auth/google"><i style="color:black;" class="bi bi-google"></i></a>
            <a class="loginsocialb" href="/auth/discord"><i style="color:black;"class="bi bi-discord"></i></a>
            <a class="loginsocialb" href="/auth/facebook"><i style="color:black;"class="bi bi-facebook"></i></a>
            <a class="loginsocialb" href="/auth/twitter"><i style="color:black;"class="bi bi-twitter"></i></a>
          </div>
          <div class="d-flex justify-content-center">
           <a class="loginsocialb" href="/auth/github"><i style="color:black;"class="bi bi-github"></i></a>
          </div>
          <div style="margin-bottom: 10px; margin-top: 10px;" class="d-flex justify-content-center">
          <i>Apenas Google e Discord são funcional, em breve haverá outras formas de login.</i>
          </div>
        </div>
      </div>
    </div>
  </div>

          
  