
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 data-aos="flip-left" class="title-a">
              Blog
            </h3>
            <p data-aos="fade-up" class="subtitle-a">
              Um pouco sobre mim e projetos
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <% blog.forEach((item, i ) => { %> 
            <div data-aos="flip-left" class="col-md-4">
              <div class="card card-blog">
                <div class="card-img">
                  <a href="<%=defaultConfig.url%>blog/<%=item.id%>"><img src="<%= item.banner %>" alt="<%= item.title %>" class="img-fluid"></a>
                </div>
                <div class="card-body">
                  <div class="card-category-box">
                    <div class="card-category">
                      <h6 class="category"><%= item.tags[0] %></h6>
                    </div>
                  </div>
                  <h3 class="card-title"><a href="<%=defaultConfig.url%>blog/<%=item.id%>" style="color: black;"><%= item.title %></a></h3>
                  <p class="card-description">
                   <%= item.content[0].content %>
                  </p>
                </div>
                <div class="card-footer">
                  <div class="post-author">
                    <a href="#" style="color: black;">
                      <img src="assets/img/testimonial-2.jpg" alt="Raul Rodrigues" class="avatar rounded-circle">
                      <span class="author">Raul Rodrigues</span>
                    </a>
                  </div>
                  <div class="post-date">
                    <span class="bi bi-clock"></span> <%= item.date %>
                     <span class="bi bi-chat-left-text"></span>
                     <a  style="color: black;" href="<%=defaultConfig.url%>blog/<%=item.id%>#disqus_thread">0</a>
                  </div>
                </div>
              </div>
            </div>
        <%});%>
      </div>
    </div>
  </section>