<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfólio
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        
        <% port.forEach((item, i)=> { %>

        <div class="col-md-4">
          <div class="work-box">
            <a href="<%= item.photos[0] %>" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img src="<%= item.photos[0] %>" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"><%= item.title %></h2>
                  <div class="w-more">
                    <span class="w-ctegory"><%= item.category %></span> / <span class="w-date"><%= item.date %></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="/port/<%= item.id %>"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>

        <h2>E muito mais!</h2>

      </div>
    </div>
  </section><!-- End Portfolio Section -->