<%- include("partials/header.ejs") -%>

  <div class="hero hero-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4"><%= og.title%></h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="/">Princípio</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Blog</a>
            </li>
            <li class="breadcrumb-item active"><%= post.title%></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="post-box">
              <div class="post-thumb">
                <img src="<%= post.banner %>" class="img-fluid" alt="">
              </div>
              <div class="post-meta">
                <h1 class="article-title"><%= post.title%></h1>
                <ul>
                  <li>
                    <span class="bi bi-person"></span>
                    <a href="#">Raul Rodrigues</a>
                  </li>
                  <li>
                    <span class="bi bi-tag"></span>
                    <a href="#"><%= post.tags.join(",")%></a>
                  </li>
                  <li>
                    <span class="bi bi-chat-left-text"></span>
                    <a href="<%=defaultConfig.url%>blog/<%=post.id%>#disqus_thread">0</a>
                  </li>
                </ul>
              </div>
              <div class="article-content">
                <% post.content.forEach((item, i) => { %>
                  <% if(item.tag === "p") { %>
                     <p><%=item.content%></p>
                  <% } %>
                  <% if(item.tag === "blockquote") { %>
                    <blockquote class="blockquote">
                     <p class="mb-0">&ldquo;<%=item.content%>&rdquo;</p>
                    </blockquote>
                  <% } %>
                  <% })%>
              </div>
            </div>
            <div class="box-comments">
              <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://raul-rodrigues.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="widget-sidebar sidebar-search">
              <h5 class="sidebar-title">Pesquisa</h5>
              <div class="sidebar-content">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar no site..." aria-label="Pesquisar no site...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary btn-search" type="button">
                        <span class="bi bi-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget-sidebar">
              <h5 class="sidebar-title">Posts Recentes</h5>
              <div class="sidebar-content">
                <ul class="list-sidebar">
                   <% allPosts.forEach((item, i) => { %>
                  <li>
                    <a href="/blog/<%=item.id%>"><%=item.title%></a>
                  </li>
                 <%})%>
                </ul>
              </div>
            </div>
            <div class="widget-sidebar">
              <h5 class="sidebar-title">Arquivos</h5>
              <div class="sidebar-content">
                <ul class="list-sidebar">
                  
                  <li>
                    <a href="#">Nada ainda :D</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sidebar widget-tags">
              <h5 class="sidebar-title">Tags</h5>
              <div class="sidebar-content">
                <ul>
                   <% post.tags.forEach((item, i) => { %>
                  <li>
                    <a href="#"><%=item%></a>
                  </li>
                 <%})%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->
                <script type=”application/ld+json”>
{
“@context”: “http://schema.org”,
“@type”: “BlogPosting”,
“mainEntityOfPage”:{
“@type”:”WebPage”,
“@id”:”<%=defaultConfig.url%>blog/<%=post.id%>”
},
“headline”: “<%= post.title%>”,
“image”: {
“@type”: “ImageObject”,
“url”: “<%= post.banner %>”,
“height”: 463,
“width”: 700
},
“datePublished”: “2022-05-07”,
“dateModified”: “2022-05-07”,
“author”: {
“@type”: “Person”,
“name”: “Raul Rodrigues de Moraes”
},
“publisher”: {
“@type”: “Organization”,
“name”: “RR - Raul Rodrigues”,
“logo”: {
“@type”: “ImageObject”,
“url”: “https://www.devluar.com/assets/img/logo.png”,
“width”: 550,
“height”: 60
}
},
“description”: “<%= post.content[0]%>”
}
</script>
                
<%- include("partials/footer.ejs") -%>